// mx-width 1600px
@import './vars';
@import './normalize';
@import './icomoon';
@import './fonts';

body {
	font-family: $o-sans;
}

.container {
	max-width: 1630px;
	padding: 0 15px;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.btn-round-blue {
	color: $white;
	border-radius: 30px;
	background-color: $blue;
	transition: background .3s ease;

	&:hover {
		background-color: rgba($blue, .6);
		color: $white;
	}
}

@import './components/header';
@import './components/news';
@import './components/ab.comp';
@import './components/footer';
@import './components/promo';